<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html :: head"></head>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <style media="screen">
      a:hover {
        text-decoration: none;
      }

      a {
        text-decoration: none;
      }
    </style>
  </head>
  <header>
    <div th:replace="fragments.html :: main-nav-port"></div>
  </header>
  <body id="page-top">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" th:object="${profile}">
            <span class="d-block d-lg-none" th:text="|*{lastName} *{firstName}|"></span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" th:src="@{/img/blank-profile.png}" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav"  th:inline="text">
                <li class="nav-item" th:each="content:${contents}"> <a class="nav-link js-scroll-trigger" th:href="@{'#'+${content.title}}">[[${content.title}]]</a></li>
            </ul>
        </div>

      </nav>
      <!-- Page Content About-->
      <div class="container-fluid p-0">
        <section class="resume-section" id="about" th:object="${profile}" th:liline="text">
          <div class="resume-section-content">
            <h1 class="mb-0" >
              [[*{firstName}]]
                <span class="text-primary">[[*{lastName}]]</span>
            </h1>
            <div class="subheading mb-5">
                <a th:href="@{'mailto:' + *{email}}" th:text="*{email}">name@email.com</a>
            </div>
            <p class="lead mb-5" th:text="*{description}">개인 정보 수정에서 자기 소개글을 입력해주세요.</p>
            <div class="social-icons">
                <a class="social-icon" th:href="@{*{instagram}}"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" th:href="@{*{github}}"><i class="fab fa-github"></i></a>
                <a class="social-icon" th:href="@{*{tweeter}}"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" th:href="@{*{facebook}}"><i class="fab fa-facebook-f"></i></a>
            </div>
          </div>
        </section>
        <hr class="m-0" />
      </div>
      <!-- Page Content Projects-->
      <div class="container-fluid p-0" th:each="content:${contents}" th:inline="text">
        <header>
          <p class="mt-2 text-center">프로젝트 기간: [[${#strings.substring(content.startedAt,0,10)}]] ~ [[${#strings.substring(content.endAt,0,10)}]]</p>
        </header>
        <section class="resume-section" th:id="${content.title}">
          <div class="resume-section-content">
            <h2 class="mb-2">[[${content.title}]]</h2>
            <h4 class="mb-3" th:text="${content.description}">Description</h4>
            <h5 class="mb-2">참여자: &nbsp;&nbsp;[[${content.contributors}]]</h4>
            <h5 class="mb-2">사용 기술: &nbsp;&nbsp;[[${content.skillstacks}]]</h4>
            <h5 class="mb-1">프로젝트 소개 및 기여 사항</h4>
            <pre class="mb-5" th:text="${content.contents}">내용</pre>
            <h5>프로젝트 관련 링크</h5>
            <pre th:text="${content.links}">links</pre>
          </div>
        </section>
        <footer th:if="${isHost}">
         <a th:href="@{'/space/updatecontent/' + ${content.id}}">프로젝트 수정</a>
        </footer>
        <hr class="m-0" />
      </div>
      <footer>
      	<div th:replace="fragments.html :: footer"></div>
      </footer>
  </body>
</html>
