<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html :: head"></head>
  <head>
    <link th:href="@{/css/createContentstyles.css}" rel="stylesheet" />
    <link th:href="@{/css/login_style.css}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>
    <div id="main-title" class="py-5 text-center">
      <h2>프로젝트 수정</h2>
    </div>
    <div class="row justify-content-center">
      <form class ="col-sm-8" th:object="${formModel}">
        <div class="mb-3">
          <label for="title" class="form-label">프로젝트 명</label>
          <input type="text" id="title" th:field="*{title}" class="form-control" name="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">한줄 소개</label>
          <input type="text" id="description" th:field="*{description}" class="form-control" name="description">
        </div>
        <div class="mb-3">
          <label for="contributors" class="form-label">참가자</label>
          <input type="text" id="contributors" th:field="*{contributors}" class="form-control" name="contributors">
        </div>
        <div class="mb-3">
          <label for="skillstacks" class="form-label">사용 기술</label>
          <input type="text" id="skillstacks" th:field="*{skillstacks}" class="form-control" name="skillstacks">
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="startedAt">시작일</label>
            <input type="date" id="startedAt" th:field="*{startedAt}" name ="startedAt" class="form-control" aria-label="시작일">
          </div>
          <div class="col">
            <label for="endAt">종료일</label>
            <input type="date" id="endAt" th:field="*{endAt}" name="endAt" class="form-control" aria-label="종료일">
          </div>
        </div>
        <div class="mb-3">
          <label for="contents" class="form-label">프로젝트 소개 및 기여 사항</label>
          <textarea id="contents" th:field="*{contents}" class="form-control content-area" name="contents" rows="20" onKeyUp="javascript:fnChkByte(this,'2500')"></textarea>
          <br />
          <span style="color:#aaa;" id="counter">(0 / 최대 2500자)</span>
        </div>
        <div class="mb-3">
          <label class="form-label">깃허브 주소 및 관련 URL</label>
          <button type="button" class="btn" onclick="addLinkInput()">추가</button>
          <div id="linkInput">
            <div th:each="link:*{links}" th:id="|linkExist${link.id}|">
              <label>설명</label>
              <input type="hidden" th:id="|linkExistId${link.id}" th:value="${link.id}">
              <input type="text" th:id="|linkExistTag${link.id}|" th:value="${link.tag}">
              <label>URL</label>
              <input type="text" th:id="|linkExistURL${link.id}|" th:value="${link.url}">
              <button type="button" class="btn" th:onclick="|deleteExistSelect(${link.id})|">삭제</button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-black justify-content-center" th:onclick="|updateContent(*{hostId},${contentId})|">프로젝트 수정</button>
      </form>
    </div>
    <footer>
    	<div th:replace="fragments.html :: footer"></div>
    </footer>
  </body>
  <script type="text/javascript" src="/js/updateContent.js"></script>
</html>
