<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:include="fragments.html :: head"></head>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link th:href="@{/css/login_style.css}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>
    <div class="sidenav">
         <div class="login-main-text">
            <h2>INFO<br> 개인 프로필 변경 </h2>
         </div>
    </div>
    <div class="main">
      <div class="col-md-6 col-sm-12">
        <div class="login-form">
          <form method="post" th:object="${formModel}">
            <div class="form-group">
              <label>이메일</label>
              <input type="email" name="email" th:field="*{email}" class="form-control" readonly>
            </div>
            <div class="form-group">
              <label>이름</label>
              <input type="text" name="firstName" th:field="*{firstName}" class="form-control">
            </div>
            <div class="form-group">
              <label>성</label>
              <input type="text" name="lastName" th:field="*{lastName}" class="form-control">
            </div>
            <div class="form-group">
              <label>소개글</label>
              <input type="text" name="description" th:field="*{description}" class="form-control">
            </div>
            <div class="form-group">
              <label>github 주소</label>
              <input type="text" name="github" th:field="*{github}" class="form-control">
            </div>
            <div class="form-group">
              <label>instagram 주소</label>
              <input type="text" name="instagram" th:field="*{instagram}" class="form-control">
            </div>
            <div class="form-group">
              <label>tweeter 주소</label>
              <input type="text" name="tweeter" th:field="*{tweeter}" class="form-control">
            </div>
            <div class="form-group">
              <label>facebook 주소</label>
              <input type="text" name="facebook" th:field="*{facebook}" class="form-control">
            </div>
            <button type="submit" class="btn btn-black">정보 수정</button>
          </form>
        </div>
      </div>
    </div>
    <footer>
    	<div th:replace="fragments.html :: footer"></div>
    </footer>
  </body>
</html>
